.celda-activa {
  background-color: #8ae48a; /* Color de fondo azul, puedes personalizarlo */
  font-weight: bold;
}

.mensaje-error{
  text-align: right;
  font-size: 0.8rem;
  color: red;
}

.is-valid{
border: solid 2px green;
}

.is-invalid{
border: solid 2px red;
}
.center{
  display:block;
  width:100%;
  margin:0 auto;
}
.container-datos{
  background-color: aliceblue;
}
h3{
  text-align: center;
  margin: 1em;
  color: #4976ff;
  font-weight: 800;
}