
<div class="container p-4">
  <h3>Secuencial y Binaria</h3>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5>Datos de la estructura:</h5>
      <form (ngSubmit)="getTamano()" #myForm="ngForm" id="formularioTamano" [formGroup]="formularioTamano">
        <div class="mb-3 row">
          <label for="tamano" class="col-sm-2 col-form-label">Tamaño:</label>
          <div class="col-sm-8">
            <input
              formControlName="tamano"
              type="text"
              id="tamano"
              name="tamano"
              class="form-control"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Ingrese tamaño'"
              placeholder="Ingrese tamaño"
              [class.is-valid]="tamanoField!.valid"
              [class.is-invalid]="tamanoField!.touched && !tamanoField!.valid"
              [disabled]="true">
            <div class="mensaje-error" *ngIf="!tamanoField!.valid  && (tamanoField!.dirty || tamanoField!.touched)">
              <div *ngIf="tamanoField!.errors?.['required']">
                *Este campo es requerido
              </div>
              <div *ngIf="tamanoField!.errors?.['isNumberPositive']">
                *La dato debe ser un número positivo.
              </div>
            </div>
          </div>
        </div>
        <h5>Datos de la clave a agregar:</h5>
        <div class="mb-3 row">
          <label for="cifras" class="col-sm-2 col-form-label">Tamaño:</label>
          <div class="col-sm-8">
            <input
              formControlName="cifras"
              type="text"
              id="cifras"
              name="cifras"
              class="form-control"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Ingrese cantidad de digitos'"
              placeholder="Ingrese cantidad de digitos"
              [class.is-valid]="cifrasField!.valid"
              [class.is-invalid]="cifrasField!.touched && !cifrasField!.valid"
              [disabled]="true">
            <div class="mensaje-error" *ngIf="!cifrasField!.valid  && (cifrasField!.dirty || cifrasField!.touched)">
              <div *ngIf="cifrasField!.errors?.['required']">
                *Este campo es requerido
              </div>
              <div *ngIf="cifrasField!.errors?.['isNumberPositive']">
                *La dato debe ser un número positivo.
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-primary" type="submit" [disabled]="tamanoDefinido">Aceptar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" *ngIf="tamanoDefinido">
    <div class="col-md-6 offset-md-3">
      <form (ngSubmit)="getDatos()" #myForm="ngForm" id="formularioAgregar" [formGroup]="formularioAgregar">
        <div class="mb-3 row">
          <label for="dato" class="col-sm-2 col-form-label">Valor:</label>
          <div class="col-sm-8">
            <input
              formControlName="dato"
              type="text"
              id="dato"
              name="dato"
              class="form-control"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Ingrese valor'"
              placeholder="Ingrese valor"
              [class.is-valid]="datoField!.valid"
              [class.is-invalid]="datoField!.touched && !datoField!.valid">
            <div class="mensaje-error" *ngIf="!datoField!.valid  && (datoField!.dirty || datoField!.touched)">
              <div *ngIf="datoField!.errors?.['required']">
                *Este campo es requerido
              </div>
              <div *ngIf="datoField!.errors?.['isNumberPositive']">
                *La dato debe ser un número positivo.
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
          <div class="col-sm-8">
            <input
              formControlName="nombre"
              type="text"
              id="nombre"
              name="nombre"
              class="form-control"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Ingrese el nombre'"
              placeholder="Ingrese el nombre"
              [class.is-valid]="formularioAgregar.get('nombre')!.valid"
              [class.is-invalid]="formularioAgregar.get('nombre')!.touched && !formularioAgregar.get('nombre')!.valid">
            <div class="mensaje-error" *ngIf="!formularioAgregar.get('nombre')!.valid && formularioAgregar.get('nombre')!.touched">
              <div *ngIf="formularioAgregar.get('nombre')!.errors?.['required']">
                *Este campo es requerido
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-primary" type="submit">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-bordered">
    <thead class="table-borderless">
      <tr class="table-light">
        <ng-container *ngFor="let columna of datos; let i = index">
          <th class="text-center">{{ i + 1 }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr>
        <ng-container *ngFor="let numero of datos; let i = index">
          <td class="text-center"
              [className]="'text-center ' + (i === indexBuscadoOriginal ? 'celda-activa' : '')">
              {{ numero }}
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

<div class="container p-4" *ngIf="datos.length > 1">
  <h3 class="text-center">Búsqueda</h3>
  <div class="row justify-content-center">
    <div class="col-6">
      <form #myForm2="ngForm" id="formularioBusqueda" [formGroup]="formularioBusqueda">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            formControlName="buscar"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Ingrese clave'"
            placeholder="Ingrese clave"
            [class.is-valid]="buscarField!.valid"
            [class.is-invalid]="buscarField!.touched && !buscarField!.valid">
          <button class="btn btn-primary" type="button" (click)="iniciarBusqueda(1)">Lineal</button>
          <button class="btn btn-secondary" type="button" (click)="iniciarBusqueda(2)">Binaria</button>
        </div>
        <div class="mensaje-error" *ngIf="!buscarField!.valid  && (buscarField!.dirty || buscarField!.touched)">
          <div *ngIf="buscarField!.errors?.['required']">
            *Este campo es requerido
          </div>
          <div *ngIf="buscarField!.errors?.['isNumberPositive']">
            *La clave debe ser un número positivo.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container" *ngIf="inicioBusqueda">
  <p>Index de la clave (arreglo original): {{indexBuscadoOriginal + 1}} -> {{ nuevoDato[indexBuscadoOriginal].info }}</p>

  <div *ngIf="estadoBusquedaBinaria">
    <p><b>Arreglo ordenado:</b> </p>
    <p>Index de la clave (arreglo ordenado): {{indexBuscadoOrdenado + 1}} -> {{ nuevoDato[indexBuscadoOriginal].info }}</p>
    <table class="table table-bordered">
      <thead class="table-borderless">
        <tr class="table-light">
          <ng-container *ngFor="let columna of datos; let i = index">
            <th class="text-center">{{ i + 1 }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr>
          <ng-container *ngFor="let numero of datosOrdenados; let i = index">
            <td class="text-center"
                [className]="'text-center ' + (i === indexBuscadoOrdenado ? 'celda-activa' : '')">
                {{ numero }}
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

