.nav-bar{
  background-color: coral;
  padding: 2em;
}
nav ul{
  display: flex;
  justify-content: space-between;
  list-style:none;
  margin: 1em;
}
nav ul li a{
  padding: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.nav-item{
  font-size: 1.2em;
}