.celda-activa {
  background-color: #fff3cd; /* Color de fondo azul, puedes personalizarlo */
  font-weight: bold;
}

.encabezado {
  background-color: #f8f9fa; /* Color de fondo azul, puedes personalizarlo */
}
